body{
	font-family: 'Lucida Grande', 'Helvetica', sans-serif;
	background-image:url(../images/img1.jpg) ;
}

#newNoteButton{
	font-size:25px;
	padding:15px;
	border-radius:5px;
	background:grey;
	color:white;
	border:0;
}

#newNoteButton:hover{
	background:grey;
	color:skyblue;
}

.note{
	background-color: whitesmoke;
	height:350px;
	width:300px;
	padding:15px;
	position:absolute;
	font-size:25px;
	-webkit-box-shadow:1px 7px 15px rgba(0,0,0,0.5);
	box-shadow:1px 7px 15px rgba(0,0,0,0.5);
}

.note:hover .closebutton{
	display:block;
}

.closebutton{
	display:none;
	background-image:url(../images/remove.png);
	height:30px;
	width:30px;
	position:absolute;
	left:-15px;
	top:-15px;
}

.closebutton:active{
	background-image:url(../images/remove_pushed.png);
}

.timestamp{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	font-size:15px;
	background-color:black;
	color:white;
	border-top:1px solid #a80;
	padding:3px 5px;
	text-align:center;
	
}